# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env

# Uploaded files
uploads/*

# Keep folder
!uploads/.gitkeep

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

.env
venv/
__pycache__/
uploads/*